html, body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 4px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(70, 72, 78, 1);
    border-radius: 3px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: #46484e;
    -webkit-box-shadow: inset006pxrgba(70, 72, 78, 1);
    border-radius: 3px;
}
/* ::-webkit-scrollbar-thumb:window-inactive {
    background: #46484e;
} */